/* SettingsPage.css */
.settings-container {
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .settings-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .settings-text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .settings-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .settings-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .settings-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .settings-save-button {
    /* background-color: #007bff; */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .settings-save-button:hover {
    background-color: #0056b3;
  }
  